body{
  background: linear-gradient(270deg, #b1e49a, #9cd981);
  background-size: 400% 400%;
  -webkit-animation: MoveBG 30s ease infinite;
  -moz-animation: MoveBG 30s ease infinite;
  animation: MoveBG 30s ease infinite;
  background-attachment: fixed;
}

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 200;

    background: linear-gradient(270deg, #b1e49a, #9cd981);
    background-size: 400% 400%;
    -webkit-animation: MoveBG 30s ease infinite;
    -moz-animation: MoveBG 30s ease infinite;
    animation: MoveBG 30s ease infinite;
}

header .container {
    border-bottom: 1px solid #dddddd;
}

header .container .logo {
    height: 70px;
}

header .container .logo img {
    margin-top: 12.5px;
    height: 50px;
}


@-webkit-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
